body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #ffffff;
	background-color: #849d8f;

}

a {
	color: #ffffff;
}

.main-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 70px;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 5px;
}
.nav-page {
	width: 600px;
	min-height: 75px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}
.nav-users {
	width: 267px;
	min-height: 75px;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
}
/* .container {
	width: 980px;
	margin: 0 auto;
	padding: 0 10px;
} */
.main-navigation-wrapper.container {
	display: flex;
	justify-content: space-between;
}
.nav-page,
.submenu,
.nav-users {
	list-style: none;
}

.nav-page a:hover, 
.nav-page a:focus, 
.nav-users a:hover, 
.nav-users a:focus {
	color: #ffcc99;
}

.password-sign-up a {
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.time-tell p {
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
}
.time-tell a {
	text-decoration: none;
	font-size: 22px;
	line-height: 24px;
}
.main-wrapper {
	width: 1146px;
}

.sliderlist {
	list-style: none;
}

.slider-item p {
	font-size: 60px;
	line-height: 61px;
	font-weight: bold;
}

.slider-item a {
	text-decoration: none;
	font-size: 32px;
	background-color: #ed5b3d;
}

.slider-item a:hover,
.promo-stock a:hover,
.botton-email-form:hover,
.feedback:hover,
.botton-send:hover,
.button-entrence:hover {
	background-color: #f17f65;
}

.slider-item a:focus,
.promo-stock a:focus,
.botton-email-form:focus,
.feedback:focus,
.botton-send:focus,
.button-entrence:focus {
	background-color: #d84833;
}
.promo-stock {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	min-height: 230px;

}
.promo-stock .promo-item {
	width: 560px;
}
.promo-stock h2 {
	font-size: 35px;
	line-height: 41px;
}

.promo-stock p {
	font-size: 18px;
}

.promo-stock a {
	text-decoration: none;
	font-size: 18px;
	background-color: #ed5b3d;
}
.promo-item {
	width: 560px;
	height: 232px;
}

.promo-jam {
	background-image: url("img/map.jpg");
	background-size: 560px auto;
  	background-repeat: no-repeat;/* background-position: top center;
	background-repeat: no-repeat; */
}
.ice-top-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	width: 1146px;
}
.ice-top ul {
	list-style: none;
}

.ice-top a {
	text-align: center;
}
.ice-item {
	width: 260px;
}
.features-container {
	background-image: url("img/waffle-bg.img");
	background-repeat: repeat-x;
}

.features-container h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

.features-container ul {
	list-style: none;
}
.container-flex {
	display: flex;
	justify-content: space-between;
}
.container-flex .item-flex {
	width: 560px;
	min-height: 227px;
}
.blog-news {
	color: #323232;
}

.blog-news a {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
}

.botton-email-form,
.feedback,
.botton-send,
.button-entrence {
	font-size: 18px;
	line-height: 24px;
	background-color: #ed5c3d;
}

.addres p {
	font-size: 14px;
	line-height: 20px;

}

.addres b {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.addres a {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-decoration: none;
}

.other a {
	font-size: 13px;
	line-height: 18px;
}

.other a:hover {
	font-weight: 600;
}
.main-footer {
	margin-top: 18px;
	min-height: 88px;
	padding-left: 27px;
}
.main-footer .container {
	display: flex;
	justify-content: space-between;
	width: 1146px;
}
.social-footer {
	margin-top: 0;
	width: 187px;
}
.social-footer ul {
	list-style: none;
}

.other {
	width: 332px;
}
.copyright {
	width: 191px;
	margin-top: 0;
}
.copyright p {
	font-size: 12px;
	line-height: 18px;
}

.caption-form-feedback {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	color: #000000;
}

.filter-control select {
	color: #ffffff;
	background-color: #9db1a5;
}

.filter-control select:hover {
	color: #000000;
}

.button-apply {
	background-color: #9cb0a4;
	color: #ffffff;
	font-weight: 600;
}

.button-apply:hover {
	background-color: #fbfcfb;
	color: #000000;
	font-weight: 600;
}

.button-apply:focus {
	background-color: #eaeaea;
	color: #333333;
	font-weight: 600;
}

.pagination-list {
	list-style: none;
}

.pagination-item a {
	text-decoration: none;
}

.pagination-item a:hover {
	background-color: #9db1a5;
}

.pagination-item a:focus {
	background-color: #ffffff;
}