* {
	box-sizing: border-box;
}

/*

1. Нельзя использовать флоаты
2. Перемосмотри название классов
3. Стилизация по тегам запрещена. Только по классам. Вложеннность не более 2

*/

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  background-color: #849d8f;
}
a {
  color: #ffffff;
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Ширина всего центровщика */
.site-wrapper {
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;	
  width: 1200px;
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.inner-page {
  background-image: none;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}
.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}
.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

/* ширина внутернних блоков */
.container {
  width: 100%;
  padding-left: 27px;
  padding-right: 27px;
  outline: 1px solid black;
  margin: 0 auto;
  /* мда))) */
}
.slider {
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: #ffffff;
}
.slide {
  display: none;
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}
.button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}
.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}
#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}
#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
.controls-item:hover {
  background-color: #b2c1b7
}
.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  outline: 1px solid #000000;
  min-height: 70px;
}
/*.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  width: 949px; 
} */
.main-logo {
	width: 157px;
	height: 62px;
	margin: 0;
	padding: 0;
}
.main-menu .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 980px;
	margin: 0;
	padding: 0;

}
.nav-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 394px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.nav-page .nav-link {
  display: block;
  padding: 8px 15px;
}
.nav-link:hover {
	background-color: #fff;
	border-radius: 25px;
	color: #000;
	font-weight: 600;
	padding: 8px 15px;
}
.nav-item:nth-child(1) {
  position: relative;
}
.nav-page > li:hover .submenu {
  display: block;
}
.nav-item .submenu {
  list-style: none;
  display: none;
  top: 38px;
  right: -50px;
  width: 145px;
  min-height: 172px;
  color: #000;
  margin: 0;
  padding: 0;
  z-index: 10;
  position: absolute;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.7);
}
.submenu-item .link-site {
  font-size: 14px;
  line-height: 16px;
}
.nav-item:nth-child(1):hover {
  display: block;
}
.submenu-item:not(:nth-child(1)) {
  padding: 6px 0px 13px 20px;
}
.submenu-item:nth-child(1) {
  padding: 12px 21px;
  font-weight: 600;
}


.submenu-item:hover {
  background-color: #ffcccc;
}
.nav-users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
  list-style: none;
  min-width: 245px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.nav-users .search-link {
  background-color: #9db1a5;
  width: 33px;
  height: 33px;
  border-radius: 15px;
}
.search-item {
  position: relative;
  margin-left: 10px;
}

.nav-users > li:hover .search-submenu {
  display: block;
}
.search-link {
  display: inline-block;
}
.search-link::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 9px;
  width: 20px;
  height: 20px;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  stroke: #000;
}

.nav-users .search-submenu {
  list-style: none;
  display: none;
  top: 38px;
  right: 15px;
  width: 343px;
  height: 85px;
  margin: 0;
  padding: 0;
  z-index: 10;
  position: absolute;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.7);
}

.input-search {
  width: 310px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #d3d3d2;
  margin: 20px 15px;
  padding: 10px 15px;
}
.nav-login-item {
  margin: 0;
  padding: 0;
}
.link-site {
	color: #000;
}

.login-item {
  position: relative;
  width: 92px;
  height: 33px;
  margin: 0;
  margin-left: 10px;
  padding: 9px 15px 9px 45px;
  background-color: #9db1a5;
  border-radius: 25px;
}
.nav-users .login-link {
  display: inline-block;
  /* position: relative;
  width: 92px;
  height: 33px;
  margin: 0;
  padding: 9px 15px 9px 45px;
  background-color: #9db1a5;
  border-radius: 25px; */
} 
.login-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 12px;
  width: 20px;
  height: 20px;
  background-image: url("../img/entrance.svg");
  stroke: orange;
  opacity: 0.5;

  background-repeat: no-repeat;
  background-position: 0 0;
}
.nav-users .login-submenu {
  list-style: none;
  display: none;
  top: 37px;
  right: 10px;
  width: 277px;
  height: 215px;
  margin: 0;
  padding: 0;
  z-index: 10;
  position: absolute;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.7);
}
.nav-users > li:hover .login-submenu {
  display: block;
}
.login-submenu-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.login-submenu p {
	margin: 0;
	padding: 0;
}
.form-email, 
.form-password {
  width: 240px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #d3d3d2;
  margin: 20px 20px 0 20px;
  padding: 10px 15px;
}
.login-submenu .button {
  display: inline-block;
  min-width: 100px;
  height: 45px;
  font-size: 18px;
  line-height: 24px;
  margin: 20px 0 0 19px;
  padding: 12px 25px;
}
.password-sign-up {
  display: inline-block;
  margin: 20px 0 0 22px;
}
.password-sign-up a {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
} 
.nav-users .basket-link {
  position: relative;
  width: 92px;
  height: 33px;
  margin: 0;
  padding: 9px 15px 9px 45px;
  background-color: #9db1a5;
  border-radius: 25px;
}

.basket-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 12px;
  width: 20px;
  height: 20px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.basket-item {
  position: relative;
  margin-left: 10px;
}
.nav-users .basket-submenu {
  list-style: none;
  display: none;
  top: 30px;
  right: 10px;
  margin: 0;
  padding: 0;
  z-index: 10;
  position: absolute;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.7);
}
.nav-users > .basket-item:hover .basket-submenu {
  display: block;
}
.basket-table {
  padding: 15px 10px;
  padding-bottom: 18px;
  border-collapse: separate;
  width: 540px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  cursor: default;
  z-index: 100;
}
.table-button {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 14px;
  height: 14px;
  font-size: 0px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.table-button-remove::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 11px;
  height: 11px;
}
.basket-table-item-total {
  text-align: right;
}
.basket-table-item-total td {
  padding: 0px;
  text-align: right;
}
.basket-table-col {
  margin: 0px;
  padding: 0px;
  padding-bottom: 15px;
  vertical-align: middle;
}
.basket-table-col-control {
  font-size: 0px;
  text-align: center;
}
.basket-table-col-preview {
  font-size: 0px;
  text-align: center;
}
.basket-table-col-preview img {
  display: inline-block;
  vertical-align: top;
}
.basket-table-col-label {
  padding-top: 10px;
  width: 220px;
  vertical-align: top;
}
.basket-table-col-price {
  width: 145px;
  text-align: center;
}
.basket-table-price {
  color: #999999;
}
.basket-table-total {
  padding: 15px 0px;
  font-size: 15px;
  line-height: 18px;
  font-style: normal;
  font-weight: bold;
  border-top: 1px solid #cacac7;
}
.button-basket-send {
  display: inline-block;
  min-width: 100px;
  height: 45px;
  font-size: 18px;
  line-height: 24px;
  margin: 20px 0 0 19px;
  padding: 12px 25px;
}
.nav-page,
.submenu,
.nav-users {
  list-style: none;
}
/*.nav-page a:hover, 
.nav-page a:focus, 
.nav-users a:hover, 
.nav-users a:focus {
  color: #ffcc99;
}*/

.time-tell {
display: block;
text-align: right;
outline: 1px solid red;
}
.time-tell p {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.time-tell a {
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;
}

.promo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 40px;

}
.promo-stock {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.promo-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 560px;
  min-height: 230px;
  padding: 20px;
}

.promo-item .button-promo {
	align-self: flex-end;
	display: inline-block;
	text-align: right;
	min-width: 164px;
	height: 45px;
	font-size: 18px;
	line-height: 24px;
	margin: 0;
	
	margin-bottom: 25px;
	padding: 12px 20px;
}

.promo-item .promo-cap {
  font-size: 35px;
  line-height: 41px;
  margin-top: 0;
  margin-bottom: 0;
}
.promo-stock .promo-par {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 23px;
  padding-bottom: 50px;
}

.promo-jam {
  background-image: url("../img/berry-bg.png");
  
  background-repeat: no-repeat;
}
.promo-choco {
  
  background-image: url("../img/choco-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
}
.ice-top {
	margin: 0;
	padding: 0;
}
.ice-top-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}
.ice-top ul {
  list-style: none;
}
.ice-top a {
  text-align: center;
}
.ice-item {
  display: flex;
  flex-direction: column;

  width: 267px;
  min-height: 325px;
  margin: 0;
  padding: 0;
  position: relative;
 }
 .ice-item::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 60px;
  height: 60px;
  background-image: url("../img/hit.svg");
 }

.ice-item figure {
	margin: 0;
}
.img-item {
  border-radius: 150px;
  position: relative;
}
.ice-item:hover {
  background-color: #9bafa3;
  border-radius: 5px;
  box-shadow: 0 10px 70px rgba(0, 0, 0, 0.5);
}
.ice-item .price {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 34px;
  line-height: 45px;
  font-weight: 600;
  z-index: 10;
}
.price .kg {
  font-size: 18px;
}

/*.figure::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px; 
  z-index: 0;

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  width: 60px;
  height: 60px;
	
  background-color: #000;
} */
.features {
  min-height: 308px;
  background-image: url("../img/waffle-bg.jpg");
  border-radius: 15px;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}
.features .features-cap {
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	margin: 0;
	padding-top: 27px;
	padding-left: 20px;
	
	font-weight: bold;
}

.features-list  {
  list-style: none;
  color: #323232;
  margin: 27px 20px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.features-item {
	position: relative;
	outline: 2px solid green;
	width:50%;
	padding-left: 56px;
}
.features-item::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 0;
  width: 49px;
  height: 49px;
 }

.features-item:nth-child(1)::before {
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item:nth-child(2)::before {
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features-item:nth-child(3) {
  margin-top: 26px;
}
.features-item:nth-child(3)::before {
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features-item:nth-child(4) {
  margin-top: 26px;
}
.features-item:nth-child(4)::before {
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}



.container-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.container-flex .item-flex {
  width: 560px;
  min-height: 227px;
}
.blog-news {
  color: #323232;
  background-image: url("../img/strawberry-bg.png");
  background-repeat: no-repeat;
}
.blog-news .blog-item {
  font-weight: 600;
  margin: 0;
  padding-top: 24px;
  padding-left: 20px; 
}
.subscription {
  color: #5a5a5a;
  background-image: url("../img/post-bg.png");
  background-repeat: no-repeat;
}
.blog-news .blog-item2 {
  display: inline-block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  text-decoration: underline;
  color: #323232;
  padding-top: 9px;
  padding-left: 20px;
}
.subscription .sub-par {
  margin: 0;
  padding-top: 35px;
  padding-left: 30px;
}
.form-subscription {
  margin: 0;
  padding: 40px 27px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-subscription .email-form {
  width: 368px;
  height: 44px;
  border: 1px solid #d3d3d2;
  padding: 10px 15px;
  border-radius: 5px;
}
.subscription .button-send {
  display: inline-block;
  
  min-width: 128px;
  height: 45px;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 11px 21px;
}

.map {
  /*background-image: url("../img/map.jpg");
  background-size: 100%;
  background-repeat: no-repeat;*/
  
  margin: 0;
  margin-top: 40px;
  padding: 0;
  position: relative;
 }
.map-bg {
  width: 100%;
}
.map .addres {
	display: inline-block;
	position: absolute;
	top: 62px;
	right: 0px;
	z-index: 10;
	background-color: #fff;
	border-radius: 15px;
	width: 300px;
	min-height: 305px;
	color: #000;
	font-size: 14px;
	line-height: 20px;

}
.addres .addres-par {
	margin: 0;
	padding-top: 30px;
	padding-left: 26px;
}
.addres .addres-par2 {
	margin: 0;
	padding-top: 22px;
	padding-left: 26px;
}
.addres b {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}
.addres a {
  font-size: 18px;
  color: #000;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}
.addres .feedback-button {
  display: inline-block;
  text-align: right;
  min-width: 128px;
  height: 45px;
  font-size: 18px;
  line-height: 24px;
  margin: 25px 0 25px 26px;
  padding: 11px 29px;
}
.main-footer {
  min-height: 88px;
  padding-left: 27px;
}
.main-footer .container {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 0;
 padding: 0;
}
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.social-footer .social {
	list-style: none;
}
.social-footer {
  margin-top: 0;
  width: 187px;
}
.other	{
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
 width: 330px;
}

.other .other-item {
  display: inline-block;
  text-align: left;
  font-size: 13px;
  line-height: 18px;
  padding: 0;
  padding-left: 25px;
  padding-bottom: 5px;
}
.other a:hover {
  font-weight: 600;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.copyright {
	width: 191px;
	margin: 0;
}
.copyright .copyright-item {
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
.modal {
  position: fixed;
  color: #000000;
  background-color: #f8f7f4;
}
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-feedback {
  display: none;
  top: 120px;
  left: 50%;
  margin-left: -230px;
  border-radius: 10px;
  width: 480px;
  padding: 20px 25px 25px 25px;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}
.modal-close {
  width: 20px;
  height: 20px;
  font-size: 0;
  background-color: #f8f7f4;
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.modal-error {
  animation: shake 0.6s;
}
.modal-item {
  margin: 0;
  padding: 0;
}
.caption-form-feedback {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 0;
}
.name-feedback,
.email-feedback {
  width: 266px;
  height: 45px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  margin: 0;
  margin-top: 23px;
  padding: 11px 15px;
}
.text-feedback {
  width: 428px;
  height: 155px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  margin: 0;
  margin-top: 23px;
  padding: 11px 15px;
}
.modal-feedback .button-send {
  min-width: 145px;
  height: 45px;
  font-size: 18px;
  line-height: 24px;
  margin-top: 25px;
  margin-left: 290px;
  padding: 11px 25px;
}
.main-cap {
  margin: 0;
  padding-top: 12px;
}
.filters-control {
	margin-top: 36px;
}
.filters-control .container {
  width: 879px;
  margin: 0;
  padding: 0;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}
.filter-item .sort {
	padding-left: 16px;
	padding-bottom: 9px;
}
.filter-sort {
  height: 36px;
  padding-left: 15px;
  background-color: #aabab0;
  border-radius: 25px;

}
.filter-control .filter-item {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  border: none;
  
}
.range-filter {
  width: 220px;
}
.range-control {
  height: 36px;
  padding-top: 17px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #aabbb1;
  border-radius: 25px;
  position: relative;
}
.range-control .scale {
  height: 2px;
  background: #d1dad3;
}
.range-control .bar {
  width: 70%;
  height: 2px;
  background: #f8f7f4;
}
.range-control .toggle {
  position: absolute;
  top: 8px;
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 50%;
  border: 8px solid #ffffff;
  background-color: #ababab;
  cursor: pointer;
}
.range-control .toggle-min {
  left: 20px;
}
.range-control .toggle-max {
  left: 140px;
}
.filter-control select {
  color: #ffffff;
  background-color: #9db1a5;
}

.filter-control select:hover {
  color: #000000;
}
.filter-fat {
  width: 420px;
  height: 36px;
  background-color: #aabab0;
  border-radius: 25px;
  
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 8px 15px;
  padding-left: 25px;
}
.filter-fat-item:nth-child(1n+2) {
  padding-left: 0px;
}
input[type=radio] {
  display: none;
}
.fat-item {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}
.filter-input-radio + .fat-item::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px solid #fff;
  top: 0px;
  left: -10px;
}
.filter-input-radio:checked + .fat-item::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  top: 6px;
  left: -4px;
}
.filter-fillers {
  height: 36px;
  vertical-align: middle;
  background-color: #aabab0;
  border-radius: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.filter-option {
  padding-top: 8px;
  padding-left: 50px;
}
.filter-option:nth-child(5) {
  padding-right: 20px;
}
.filter-option .fillers-item {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-input[type=checkbox] {
  display: none;
}
.filter-input-checkbox + .fillers-item::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked + .fillers-item::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.button-apply {
  
  width: 137px;
  height: 34px;
  background-color: #9cb0a4;
  border: 2px solid white;
  border-radius: 25px;
  color: #ffffff;
  font-weight: 600;
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
}

.button-apply:hover {
  background-color: #fbfcfb;
  color: #000000;
  font-weight: 600;
}

.button-apply:focus {
  background-color: #eaeaea;
  color: #333333;
  font-weight: 600;
}



/* для каталога */

.container-iner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}
.breadcrumbs .crumbs {
	padding-right: 20px;
	position: relative;
}
.crumbs:nth-child(2)::before {
  content: "»";
  position: absolute;
  font-size: 12px;
  top: 0;
  left: -12px;
}
.crumbs:nth-child(3)::before {
  content: "»";
  position: absolute;
  font-size: 12px;
  top: 0;
  left: -12px;
}

.catalog {
  margin-top: 40px;
}
.catalog .container {
  margin: 0;
  padding: 0;
}
.catalog ul {
  list-style: none;
}
.catalog-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}
.catalog-item figure {
	margin: 0;
	padding: 0;
}
.catalog-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  outline: 2px solid red;
  width: 267px;
  min-height: 325px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}
.img-item {
  border-radius: 150px;
}
.content-item {
  position: relative;
}
.catalog-item:hover {
  background-color: #9bafa3;
  border-radius: 5px;
  box-shadow: 0 10px 70px rgba(0, 0, 0, 0.5);
}
.content-item .price {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 0px;
  font-size: 34px;
  line-height: 45px;
  font-weight: 600;
  z-index: 10;
  margin: 0;
  padding: 0;
}
.price .kg {
  font-size: 18px;
}
.catalog-item .description {
  text-align: center;
  margin: 0;
  padding: 0;
}
.fast-view {
  position: absolute;
  bottom: -55px;
  left: 30px;
  display: none;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  cursor: pointer;
  z-index: 10;
}
.catalog-list > li:hover .fast-view {
  display: block;
}
.pagination-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.pagination-item {
  padding-right: 24px;
}
.pagination-item a {
  text-decoration: none;
}

.pagination-item a:hover {
  background-color: #9db1a5;
}

.pagination-item a:focus {
  background-color: #ffffff;
}



/* !!!!!!!!!!!!!!!   */


